name: Release
on:
  push:
    tags: ['v*']
permissions:
  contents: write
  # https://docs.npmjs.com/trusted-publishers
  id-token: write
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - name: Install
        run: npm install --ignore-scripts
      - name: Test
        run: npm test
      - name: Publish
        run: npm publish
      - name: Create GitHub release
        uses: docker://antonyurchenko/git-release:v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
